body {
  background-color: #021B33;
  color: var(--primary-text);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

/* Styles for the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #022859;
}

/* Styles for the logo */
.logo a {
  color: #D9D9D9;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

/* Styles for the navigation list */
.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Styles for the navigation items */
.header ul li {
  margin-left: 20px;
  text-decoration: none; 
}

/* Styles for the button */
.btn {
  background-color: #FF7F50;
  color: #D9D9D9;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Styles for the svg within the button */
.btn svg {
  margin-right: 5px;
}

/* Styles for the heading section */
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #D9D9D9;
}

/* Styles for the heading */
.heading h1 {
  font-size: 2em;
  margin: 0;
}

/* Styles for the username */
.username {
  font-weight: bold;
  color: #FF7F50;
  display: inline; /* To keep the username on the same line as the greeting */
}

/* Styles for the footer */
.footer {
  background-color: #022859;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.footer-section {
  display: flex;
  align-items: center;
}
/* Styles for the links */
.footer a {
  color: #D9D9D9;
  text-decoration: none;
  margin: 0 15px;
  font-size: 30px;
}

/* Styles for the copyright */
.copyright {
  color: #D9D9D9;
  font-size: 0.8em;
}


/* Loading spinner */
.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingSpinner {
  color: rgb(255, 145, 0);
  font-size: 40px;
  animation: spin .5s linear infinite;
}
