/* Styles for the modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  background-color: var(--secondary-bg);
  border-radius: 8px;
  padding: 20px 30px;
  z-index: 2;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* Styles for the modal overlay */
.modal-background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal .modal-heading {
  font-weight: 700;
  font-size: 1.2em;
  color: var(--primary-accent);
  text-decoration: underline;
}
/* Styles for the modal content */
.modal h2 {
  margin: 0;
}

.modal .description {
  font-size: .9em;
  margin: 0 0 20px 0;
  color: var(--secondary-text);
}
.modal h4, .modal div {
  margin: 3px 0;
}

/* Styles for the detailed button */
.detailed-btn {
  background-color: transparent;
  color: var(--primary-accent);
  border: none;
  padding: 10px 0px;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 10px;
}


/* Styles for the favorite button */
.favorite-btn {
  background-color: var(--primary-accent);
  color: var(--primary-text);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
}

/* Styles for the close button */
.modal .close-btn {
  background-color: var(--primary-accent);
  border: none;
  color: var(--primary-text);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  top: 10px;
}