.modal-container {
  position: fixed;  /* Makes the modal fixed, it will stay in the same place even if the page is scrolled */
  top: 50%;           /* Positions the top edge of the modal at the top of the viewport */
  right: 0;          /* Positions the left edge of the modal at the left of the viewport */
  transform: translateY(-50%);  /* Offsets the modal upwards by half of its height so it's truly centered vertically */
  z-index: 1000;    /* Ensures the modal appears on top of other elements */
  /* Other properties... */  /* Adds a 2px border with your primary accent color */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);  /* Adds a subtle shadow around the modal */
}

.trade-modal {
  border: 2px solid #FF7F50;
  border-right: none;
}
.trade-modal form {
  background-color: #022859;
  padding: 20px;
  border-radius: 5px;
}
.trade-modal label {
  color: #D9D9D9;
  font-size: 1em;
  margin-bottom: 10px;
  display: block;
}
.trade-modal select, .trade-modal input{
  background-color: #021B33;
  color: #D9D9D9;
  border: 1px solid #2C7973;
  border-radius: 3px;
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
}
.trade-modal input[type="number"]::placeholder {
  color: #898989;
}
.trade-modal select option {
  color: #D9D9D9;
}
.trade-modal input[type="submit"] {
  background-color: #FF7F50;
  color: #021B33;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.trade-modal input[type="submit"]:hover {
  background-color: #FFA877;
}

.exit-btn {
  position: absolute;
  top: 10px;         /* Adjust these values to move the button around within the modal */
  right: 10px;
  background-color: #FF7F50; /* Using the primary accent color */
  color: #021B33;    /* Text color */
  border: none;
  border-radius: 20%; /* Makes the button round */
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px; /* Vertically centers the text */
  cursor: pointer;
}

.exit-btn:hover {
  background-color: #FFA877; /* Highlight color when you hover over the button */
}

.show-modal-btn {
  background-color: #FF7F50; /* Primary Accent Color */
  color: #D9D9D9;  /* Primary Text Color */
  border: none;
  padding: 20px 12px; /* Adjust as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.show-modal-btn:hover {
  background-color: #FFA877; /* Highlight Color */
  color: #021B33;  /* Primary Background (Very Dark Shade) */
}
