:root {
  --primary-bg: #021B33;
  --secondary-bg: #022859;
  --primary-accent: #FF7F50;
  --secondary-accent: #2C7973;
  --primary-text: #D9D9D9;
  --secondary-text: #898989;
  --highlight-color: #FFA877;
}