.favorited-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.stock-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px#1e1e1e;
    width: 320px;
    padding: 40px 20px;
    margin: 10px;
    gap: 5px;
    background: linear-gradient(180deg, rgba(52,52,52,1) 0%, rgba(68,68,68,1) 100%);
}

.remove-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background-color: var(--warning-color); 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.remove-btn:hover {
    background-color: var(--dark-warning-color); 
}
  
.remove-btn:active {
    background-color: var(--darker-warning-color);
}